
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/ielts-output-commitment.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=apps" />
    <title>Cam kết đầu ra</title>
</head>
<body>
    <div class="body">
        <div class="bee_support">
            <a href="#">
                <img src="~/img/bee-support.svg" alt="">
            </a>
        </div>
        <div class="nav">
            <div class="nav_1">
                <div class="nav_logo">
                    <a href="/index.html">
                        <img src="img/logo_ielts.png" alt="Logo">
                    </a>
                </div>
                <input type="checkbox" name="" id="chkb_dd_ielts">
                <div class="dd_ielts">
                    <ul class="dd_list_items">
                        <li class="dd_list_item"><a href="#">IELTS</a></li>
                        <li class="dd_list_item"><a href="#">TOEIC</a></li>
                        <li class="dd_list_item"><a href="#">HSK</a></li>
                        <li class="dd_list_item"><a href="#">Preptalk English</a></li>
                    </ul>
                </div>
                <div class="ctl">
                    <label for="chkb_dd_ielts">
                        <div class="catalog">
                            <span class="material-symbols-outlined">apps</span>
                            <h5>IELTS</h5>
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                    </label>
                </div>
                <div class="nav_list">
                    <ul class="nav_list_items">
                        <li class="nav_list_item"><a href="/ielts.html">Xây dựng lộ trình</a></li>
                        <li class="nav_list_item"><a href="#">Kiểm tra đầu vào</a></li>
                        <li class="nav_list_item"><a href="#">Luyện đề</a></li>
                        <li class="nav_list_item"><a href="/ielts-output-commitment.html">Cam kết đầu ra</a></li>
                    </ul>
                </div>
            </div>
            <div class="start">
                <div class="start_study">
                    <p>Bắt đầu học</p>
                </div>
                <div class="start_login">

                    <img src="img/avatar.webp" class="img_user" alt="">


                    <div class="dd_user">
                        <ul class="dd_list_users">
                            <li class="dd_list_user dd_list_user_relative">
                                <img src="img/avatar.webp" alt="">
                                <a href="#">Trần Thị Hương</a>
                            </li>
                            <hr>
                            <li class="dd_list_user"><a href="#">Trao đổi về bài chấm chữa</a></li>
                            <li class="dd_list_user"><a href="#">Cài đặt</a></li>
                            <hr>
                            <li class="dd_list_user"><a href="#">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="body_main">
            <div class="commit">
                <div class="commit_text">
                    <h1>Cam kết đầu ra lộ trình học IELTS</h1>
                </div>

                <p>
                    Kính gửi các bạn học viên đăng ký các khóa học IELTS của Prepedu.com.</br>

                    Prep cam kết đảm bảo đầu ra IELTS cho học viên như sau:
                </p>

                <h2>
                    I.  Điều kiện áp dụng cam kết</br>
                    Khóa học áp dụng:
                </h2>
                <p class="p_text">IELTS Trung cấp và IELTS Chuyên sâu 4 kỹ năng Plus </p>
                <h2>Yêu cầu đầu vào: </h2>
                <p class="p_text">
                    + Học viên đã có kết quả thi chính thức tại BC/IDP tối đa 6 tháng trước khi đăng ký khoá học HOẶC đã làm bài kiểm tra full test đầu vào tại prepedu.com

                    </br>+ Đối với khóa IELTS Trung cấp: kết quả đạt Overall từ 5.0 trở lên, không kỹ năng nào dưới 5.0.

                    </br> + Đối với khóa IELTS Chuyên sâu: kết quả đạt Overall từ 6.0 trở lên, không kỹ năng nào dưới 6.0.

                    </br>+ Đối với các gói Combo: kết quả đầu vào của khóa IELTS Trung Cấp có thể tính trên điểm đầu ra bài kiểm tra cuối khóa IELTS Cơ Bản ( kết quả đạt  Overall từ 5.0 trở lên), kết quả đầu vào của khóa IELTS Chuyên Sâu có thể tính trên điểm đầu ra bài kiểm tra cuối khóa IELTS Trung Cấp (kết quả đạt Overall từ 6.0 trở lên)
                </p>
                <h2>Thời hạn thi IELTS</h2>
                <p class="p_text">Áp dụng cho học viên thi chính thức tại Hội đồng Anh hoặc IDP trong vòng 2 tháng kể từ ngày kết thúc khóa học (học sinh được coi là kết thúc khóa học nếu hoàn thành đầy đủ nghĩa vụ ở mục II).</p>
                <h2>Thời hạn nhận thông tin xin hoàn phí</h2>
                <p class="p_text">Tối đa 1 tháng kể từ ngày học viên nhận kết quả thi IELTS chính thức từ hội đồng thi.</p>
                <h2>II. Nghĩa vụ của học viên</h2>
                <p class="p_text">
                    Học viên cần hoàn thành đầy đủ đồng thời các nghĩa vụ sau:

                    </br> 1. Học viên phải xem 100% các video bài giảng trên prepedu.com và xem trọn vẹn từ đầu đến cuối video.

                    </br> 2. Làm đầy đủ 100% bài tập đi kèm và đạt số điểm tương đương 80% cho mỗi bài tập.

                    </br>3. Hoàn thành 100% số bài kiểm tra có trong khóa học và đạt số điểm tương đương 80% cho mỗi bài kiểm tra.

                    </br> (Lưu ý: Đối với bài kiểm tra định kỳ - progress test và mini test, thời gian làm bài tối thiểu là 30 phút/ 1 bài. Các bài kiểm tra còn lại tối thiểu từ 40-60 phút/ 1 bài).

                    </br>4. Gửi đầy đủ số lượng bài Writing và Speaking. Đọc kĩ từ các lỗi sai và đảm bảo các lỗi được chữa ở bài trước không gặp phải ở bài sau.

                    </br>5. Đối với khóa IELTS Trung cấp: tổng điểm trung bình cho các bài chấm Speaking và Writing tối thiểu là 6.0.

                    </br>  6. Đối với khóa IELTS Chuyên sâu: tổng điểm trung bình cho các bài chấm Speaking và Writing tối thiểu là 6.5.

                    </br> 7. Tuyệt đối KHÔNG ĐẠO VĂN DƯỚI MỌI HÌNH THỨC cho tất cả các bài tập, bài chấm và bài kiểm tra trong khóa học, Prep sẽ sử dụng nền tảng kiểm tra đạo văn uy tín để rà soát bài làm của học viên.

                    </br>  8. Học liên tục chương trình tối thiểu 1 tiếng/ ngày trong ít nhất 3 ngày/ tuần, cả tuần tối  thiểu 5 tiếng (tính toán dựa trên thời lượng xem video, nộp bài tập và thời gian ở trên trang) trước quá trình thi (ngắt quãng không quá 2 tuần).

                    </br> 9. Tích cực thảo luận, hỏi bài, tương tác với thầy cô trên nhóm hỗ trợ “Prep Student Community” và tham gia đầy đủ các chương trình hỗ trợ kiến thức dành riêng cho học viên Prep, được thầy cô tổ chức trên các nền tảng Online và đã thông báo qua email
                </p>
                <h2>III. Cam kết của Prep</h2>
                <p class="p_text">
                    Sau khi hoàn thành lộ trình mà Prep cung cấp học viên sẽ đạt được điểm số IELTS tối thiểu là <b>6.0 overall cho Lộ trình học tới khóa IELTS Trung cấp</b> và tối thiểu là <b>6.5 overall cho Lộ trình học tới khóa IELTS Chuyên sâu 4 kỹ năng Plus</b> . (Bao gồm cả khóa lẻ và Combo)
                    </br> Trong trường hợp Học viên không đạt band điểm như đúng mục tiêu đầu ra của khóa học. Prep cam kết hoàn lại 100% giá trị khóa học tại thời điểm Học viên đã mua.
                    </br> Nếu Học viên vi phạm 1 hoặc nhiều nghĩa vụ nêu trên, có nghĩa là Học viên đã phá vỡ bản cam kết, Prep không có trách nhiệm đảm bảo đầu ra cho Học viên nữa, nhưng vẫn sẽ hỗ trợ tối đa để Học viên đạt điểm số cao nhất có thể...
                </p>
                <h2>IV. Quy trình hoàn tiền</h2>
                <p class="p_text">
                    Gửi thông tin theo tiêu đề: “Yêu cầu hoàn tiền - Tên chương trình học (IELTS Trung cấp/ IELTS chuyên sâu 4 kỹ năng Plus) ” tới email <a href="">support@prepedu.com</a> kèm thông tin như sau:
                    </br> - Thông tin tài khoản của bạn đăng ký học tại Prep.

                    </br> - Bản Scan kết quả thi chính thức IELTS từ BC/IDP.

                    </br> Đội ngũ PREP sẽ check toàn bộ thông tin và phản hồi bạn một cách chi tiết và đầy đủ về việc chính sách hoàn tiền của bạn đã đủ điều kiện hoàn tiền hay chưa trong vòng 3 ngày làm việc.
                    </br> Nếu đủ điều kiện hoàn tiền, số tiền được hoàn sẽ được trả về tài khoản của bạn trong vòng 30 ngày.
                </p>
                <p>
                    <i>Chúc quý học viên có kết quả học tập thật tốt và hoàn thành mục tiêu.</i>

                    </br><i>Trân trọng cảm ơn !</i>
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_section">
            <img src="/img/logo_footer.svg" alt="Logo Prep">
            <h3>CÔNG TY CỔ PHẦN CÔNG NGHỆ PREP</h3>
            <p><strong>Mã số doanh nghiệp: </strong>0109817671</p>
            <p>
                <strong>Địa chỉ: </strong>Số nhà 20 Ngách 234/35 Đường Hoàng Quốc Việt, Phường Cổ Nhuế 1, Quận Bắc Từ
                Liêm, Thành phố Hà Nội, Việt Nam
            </p>
            <p><strong>Trụ sở văn phòng: </strong>NO.21-C2 KĐT Nam Trung Yên, P.Trung Hoà, Q.Cầu Giấy, Tp. Hà Nội</p>
        </div>

        <div class="footer_section footer_section-info">
            <h3>VỀ PREP</h3>
            <ul>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Tuyển dụng</a></li>
            </ul>
            <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
            <div class="social_icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>

        <div class="footer_section footer_section-info">
            <h3>THÔNG TIN</h3>
            <ul>
                <li><a href="">Điều kiện và điều khoản giao dịch</a></li>
                <li><a href="">Chính sách thanh toán</a></li>
                <li><a href="">Chính sách bảo mật thông tin</a></li>
                <li><a href="">Cam kết đầu ra IELTS</a></li>
                <li><a href="">Cam kết đầu ra TOEIC</a></li>
                <li><a href="">Chính sách sử dụng AI</a></li>
            </ul>
        </div>

        <div class="footer_section">
            <h3>TẢI ỨNG DỤNG TRÊN ĐIỆN THOẠI</h3>
            <a href=""><img src="/img/google_play.png" alt="Google Play"></a>
            <a href=""><img src="/img/app_store.png" alt="App Store"></a>
        </div>
    </div>

    <div class="footer_bottom">
        <h3>TRUNG TÂM ĐÀO TẠO NGOẠI NGỮ PREP</h3>
        <p><strong>Phòng luyện ảo - Trải nghiệm thực tế - Công nghệ hàng đầu</strong></p>
        <p><strong>Hotline:</strong> 0931 42 8899</p>
        <p>
            <strong>Địa chỉ: </strong>Địa chỉ: Số nhà 20, ngách 234/35 đường Hoàng Quốc Việt, phường Cổ Nhuế 1, quận Bắc
            Từ Liêm, TP Hà Nội
        </p>
        <p>
            Giấy chứng nhận hoạt động đào tạo, bồi dưỡng số 1309/QĐ-SGDĐT ngày 31 tháng 07 năm 2023 do Sở Giáo dục và Đào
            tạo Hà Nội cấp
        </p>
        <div class="certificates">
            <img src="/img/license_bct.svg" alt="Bộ Công Thương">
            <img src="/img/license_sectigo.svg" alt="Sectigo">
            <img src="/img/license_dcma.svg" alt="DMCA">
        </div>
    </div>

</body>
</html>
